<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>انتخاب دسته‌بندی</ion-title>
</ion-toolbar>
<ion-content>
  <ion-list class="item-transparent" mode="ios" lines="full">
    <ion-item *ngFor="let cat of categories" dir="rtl" class="ion-activatable item-transparent" detail button
              [detailIcon]="'chevron-back'" lines="full" (click)="selectCategory(cat)">
      <ion-label>{{cat.title}}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
</ion-content>
