<app-header-simple [inContent]="false" title="محصولات"></app-header-simple>
<ion-content [fullscreen]="true">
  <app-header-simple [inContent]="true" title="محصولات"></app-header-simple>
  <ion-fab vertical="top" horizontal="start" edge slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="addCategoryModal()">
        <ion-icon name="file-tray-full-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="selectCategoryModal(true)">
        <ion-icon name="folder-open-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="selectCategoryModal(false)">
        <ion-icon name="bag-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-list mode="ios" lines="full">
    <ion-item-sliding *ngFor="let cat of categories">
      <ion-item dir="rtl" class="ion-activatable" detail button (click)="goToCategory()" [detailIcon]="'chevron-back'">
        <ion-label>{{cat.title}}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <a class="ion-activatable ripple-parent" style="display: flex">
      </a>
      <ion-item-options side="start">
        <ion-item-option color="danger" (click)="delete(cat)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
        <!--          <ion-item-option color="warning" (click)="hide(cat)"><ion-icon name="eye-off-outline"></ion-icon></ion-item-option>-->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
