<ng-container *ngIf="!inContent">
  <ion-header dir="rtl" mode="ios" [translucent]="true">
    <ion-toolbar>
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
</ng-container>
<ng-container *ngIf="inContent">
  <ion-header dir="rtl" mode="ios" collapse="condense">
    <ion-toolbar mode="ios">
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
</ng-container>
