<app-header-simple [inContent]="false" title="سفارشات"></app-header-simple>
<ion-content [fullscreen]="true">
  <app-header-simple [inContent]="true" title="سفارشات"></app-header-simple>
  <ion-segment value="progressing" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="waiting">
      <ion-label>در صف</ion-label>
    </ion-segment-button>
    <ion-segment-button value="progressing">
      <ion-label>در حال انجام</ion-label>
    </ion-segment-button>
    <ion-segment-button value="done">
      <ion-label>پایان یافته</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
