<app-header-simple [inContent]="false" title="تبلیغ‌ها"></app-header-simple>
<ion-content [fullscreen]="true">
  <app-header-simple [inContent]="true" title="تبلیغ‌ها"></app-header-simple>
</ion-content>
