<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>افزودن زیرمجموعه</ion-title>
</ion-toolbar>
<ion-content>
  <ion-list class="item-transparent">
    <ion-item class="item-transparent" dir="rtl" lines="full">
      <ion-label>دسته‌بندی</ion-label>
      <ion-note slot="end">{{category.title}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label appJcItemLabel>نام زیرمجموعه</ion-label>
      <ion-input [(ngModel)]="subcategoryTitle"></ion-input>
    </ion-item>
  </ion-list>
  <div style="width: 100%; display: flex; justify-content: center; margin-top: 16px;">
    <ion-button expand="round" fill="solid" (click)="addSubcategory()">افزودن</ion-button>
  </div>
</ion-content>
