@font-face {
  font-family: Parastoo;
  src: url('../assets/fonts/Parastoo.eot');
  src: url('../assets/fonts/Parastoo.eot?#iefix') format('FontName-opentype'),
  url('../assets/fonts/Parastoo.woff') format('woff'),
  url('../assets/fonts/Parastoo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ParastooBold;
  src: url('../assets/fonts/Parastoo-Bold.eot');
  src: url('../assets/fonts/Parastoo-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Parastoo-Bold.woff') format('woff'),
  url('../assets/fonts/Parastoo-Bold.ttf') format('truetype');
  font-weight: bold;
}

* {
  --ion-font-family: Parastoo, serif !important;
}
