<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>افزودن محصول</ion-title>
</ion-toolbar>
<ion-content>
  <ion-list class="item-transparent">
    <ion-item>
      <ion-label appJcItemLabel>دسته‌بندی</ion-label>
      <ion-note slot="end">{{category.title}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label appJcItemLabel>زیرمجموعه</ion-label>
      <ion-note slot="end">{{subcategory.title}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label appJcItemLabel>نام محصول</ion-label>
      <ion-input [(ngModel)]="productTitle" placeholder="نام محصول"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label appJcItemLabel>قیمت</ion-label>
      <ion-input type="tel" [(ngModel)]="price" placeholder="ریال"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>تخفیف (٪)</ion-label>
      <ion-select cancelText="بستن" okText="انتخاب" placeholder="درصد" [(ngModel)]="discount">
        <ion-select-option *ngFor="let i of discounts" [value]="i">{{i}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label appJcItemLabel>موجودی</ion-label>
      <ion-input type="tel" [(ngModel)]="inventory" placeholder="عدد"></ion-input>
    </ion-item>
  </ion-list>
  <div style="width: 100%; display: flex; justify-content: center; margin-top: 16px;">
    <ion-button expand="round" fill="solid" (click)="addProduct()">افزودن</ion-button>
  </div>
</ion-content>
