<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>انتخاب زیرمجموعه</ion-title>
</ion-toolbar>
<ion-content>
  <ion-list class="item-transparent">
    <ion-item class="item-transparent" dir="rtl" lines="full">
      <ion-label>دسته‌بندی</ion-label>
      <ion-note slot="end">{{category.title}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-list class="item-transparent" mode="ios" lines="full">
    <ion-item *ngFor="let subcategory of subcategories" dir="rtl" class="ion-activatable item-transparent" detail button
              [detailIcon]="'chevron-back'" lines="full" (click)="selectSubcategory(subcategory)">
      <ion-label>{{subcategory.title}}</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
</ion-content>
