<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>افزودن دسته‌بندی</ion-title>
</ion-toolbar>
<ion-content>
  <ion-item>
    <ion-label appJcItemLabel>نام دسته‌بندی</ion-label>
    <ion-input [(ngModel)]="categoryTitle"></ion-input>
  </ion-item>
  <div style="width: 100%; display: flex; justify-content: center; margin-top: 16px;">
    <ion-button expand="round" fill="solid" (click)="addCategory()">افزودن</ion-button>
  </div>
</ion-content>
