<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="orders">
      <ion-icon name="archive-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="products">
      <ion-icon name="bag-handle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="promotions">
      <ion-icon name="diamond-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="statistics">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
